!!! 5
%html
  %head
    %title Cans
    %link(rel='stylesheet' href='frameset.css' type='text/css' media='screen')
    %link(rel='stylesheet' href='shCoreMidnight.css' type='text/css' media='screen')
  %body
    %ul#columns
      %li
        %ul#module_list
      %li
        %h1 Class Methods
        %ul#class_method_list
      %li
        %h1 Instance Methods
        %ul#instance_method_list
    #content
    %script{:src=>'json2.js', :type=>'text/javascript'}
    %script{:src=>'jquery-1.4.4.min.js', :type=>'text/javascript'}
    %script{:src=>'underscore-min.js', :type=>'text/javascript'}
    %script{:src=>'backbone-min.js', :type=>'text/javascript'}
    %script{:src=>'shCore.js', :type=>'text/javascript'}
    %script{:src=>'shBrushRuby.js', :type=>'text/javascript'}
    %script{:src=>'application.js', :type=>'text/javascript'}
    %script#module_template(type='text/template')
      <a><%= name %></a>
      <ul class="child_modules"></ul>
    %script#method_template(type='text/template')
      <a><%= name %></a>
    %script#source_template(type='text/template')
      %h1 <%= module.name %><%= flavorSymbol %><%= name %>
      %p.location Found at <%= file %>:<%= line %>
      %pre{:class=>'brush: ruby'} <%= source %>
    %script#source_error_template(type='text/template')
      %h1 <%= module.name %><%= flavorSymbol %><%= name %>
      %p
        Couldn't find source for this method. It's probably implemented in C,
        an accessor method, or dynamically generated.