!!! 5
%html
  %head
    %title Cans
    %link(rel='stylesheet' href='frameset.css' type='text/css' media='screen')
  %body
    %ul#columns
    #content
    %script(src='prototype.js' type='text/javascript')
    %script(src='application.js' type='text/javascript')