!!! 5
%html
  %head
    %title Cans
  %body
    %h1 Top-Level Modules
    %ul
      - @modules.each do |m|
        %li
          =link "/module/#{m.name}", m.name
    %h1 History
    %ul
      - @history.each do |f|
        %li&= f